h1 {
    text-align: center;
    letter-spacing: 3px;
}

h3 {
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
}

body {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    padding: 4em 1em;
    margin: auto;
    max-width: 50em;
}
